fastapi==0.116.1
uvicorn[standard]==0.35.0
httpx==0.28.1
beautifulsoup4==4.13.4
dnspython==2.7.0
jinja2==3.1.6
python-multipart==0.0.20
openpyxl==3.1.5
cssselect==1.3.0
playwright==1.55.0
https://github.com/dmitriiweb/extract-emails/archive/1f2bb4008e0231784fd78b4140780a2992f5c851.zip
