fastapi==0.116.1
uvicorn[standard]==0.35.0
httpx==0.28.1
beautifulsoup4==4.13.4
dnspython==2.7.0
jinja2==3.1.6
python-multipart==0.0.20
openpyxl==3.1.5
https://github.com/deedy5/ddgs/archive/70a5635510fb8d5b15d5ba6ceced6a67e212149b.zip
